.App {
  text-align: center;
}

.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
}

.item {
  padding: 30px;
  position: relative;
  overflow: hidden;
}

.overlay {
  transition: bottom ease 1s;
  position: absolute;
  bottom: -100px;
  left: 0;
  width: 100%;
  color: white;
  font-size: 15px;
  background-color: grey;
  opacity: 0.8;
}

.item:hover .overlay {
  opacity: .6;
  bottom: 0;
}
