.App {
  text-align: center;
}

.container {
  display: flex;
  background-color: #E0FFFF;
}

.item {
  flex: 1;
  padding: 30px;
  border: 1px solid black;
  position: relative;
  overflow: hidden;
}

.overlay {
  transition: bottom ease 1s;
  position: absolute;
  bottom: -100px;
  left: 0;
  width: 100%;
  color: white;
  font-size: 15px;
  background-color: grey;
  opacity: 0.8;
}

.item:hover .overlay {
  opacity: .6;
  bottom: 0;
}

@media only screen and (max-width: 600px) {
  .container {
    flex-direction: column;
  }
}

.container div {
  flex: 1;
}

img {
  padding: 30px;
}

@media only screen and (max-width: 600px) {
  .container {
    flex-direction: column;
  }
}
