.App {
  text-align: center;
}

.container {
  /* display: flex;
  flex-wrap: wrap; */
  background-color: #E0FFFF;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}

.item {
  /* flex: 1;
  flex-basis: 120px; */
  padding: 30px;
  position: relative;
  border: 1px solid black;
  overflow: hidden;
}

.overlay {
  transition: bottom ease 1s;
  position: absolute;
  bottom: -100px;
  left: 0;
  width: 100%;
  color: white;
  font-size: 15px;
  background-color: grey;
  opacity: 0.8;
}

.item:hover .overlay {
  opacity: .6;
  bottom: 0;
}

/* @media only screen and (max-width: 600px) {
  .container {
    flex-direction: column;
  }
} */
