.App {
  text-align: center;
}

.container {
  display: flex;
  background-color: #E0FFFF;
}

.item {
  flex: 1;
  padding: 30px;
  border: 1px solid black;
  position: relative;
}

.overlay {
  display: none;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  color: white;
  font-size: 15px;
  background-color: grey;
  opacity: .8;
}

.item:hover .overlay {
  display: block;
}

/* @media only screen and (max-width: 600px) {
  .container {
    flex-direction: column;
  }
} */




.container div {
  flex: 1;
}

img {
  padding: 30px;
}

@media only screen and (max-width: 600px) {
  .container {
    flex-direction: column;
  }
}
